* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #2e3c43;
    color: #abcdef;
}

legend {
    font-size: 1.7em;
    padding: 0 7px;
}
fieldset {
    width: 350px;
    margin: 20vh auto;
    text-align: center;
    border-radius: 5px;
    padding: 10px 30px;
}
#reloj {
    font-size: 6em;
    color: #37e2ba;
}
